body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	margin: 0;
}

nav {
	flex-grow: 1;
	text-align: right;
}

h2,  h4 {
	font-family: 'Parisienne', Helvetiva;
}

nav span {
	display: inline-block;
	padding: 10px 20px;
}

span a {
	color: seashell;
}

/* ID's */

#brand-logo {
	height: 50px;
}

#navbar {
	background-color: black;
	height: 64px;
	width: 100%;
	position: fixed;
	border-bottom: 1px solid seashell;
	z-index: 1;
}

#main {
  padding-top: 69px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

#mission {
	height: 700px;
	text-align: center;
	background-image: url('../images/img-mission-background.jpg');
}

#featuredTea {
	width: 1000px;
	text-align: center;
	margin: 0 auto;
}

#contact {
	text-align: center;
}



/* Classes */
.flex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.container {
	background-color: black;
	width: 100%;
}

.locations {
	display: flex;
	justify-content: space-around;
}

.item > img {
	width: 300px;
	height: 200px;
}

#locations {
	background-image: url('../images/img-locations-background.jpg');
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 500px;
	
}

.locations > .item {
	background-color: black;
	padding: 15px;
}

